.sprites, .icons-1, .icons-10, .icons-11, .icons-12, .icons-13, .icons-14, .icons-15, .icons-16, .icons-17, .icons-18, .icons-19, .icons-2, .icons-20, .icons-21, .icons-22, .icons-23, .icons-3, .icons-4, .icons-5, .icons-6, .icons-7, .icons-8, .icons-9 {
  background: url('../images/icons-s0386952d75.png');
  -webkit-background-size: 55px 435px;
  -moz-background-size: 55px 435px;
  background-size: 55px 435px;
}

.icons-1 {
  background-position: 0 0;
  width: 17.5px;
  height: 14px;
}

.icons-10 {
  background-position: 0 -16.5px;
  width: 14px;
  height: 14px;
}

.icons-11 {
  background-position: 0 -33px;
  width: 11px;
  height: 10.5px;
}

.icons-12 {
  background-position: 0 -46px;
  width: 17.5px;
  height: 14px;
}

.icons-13 {
  background-position: 0 -62.5px;
  width: 18px;
  height: 15.5px;
}

.icons-14 {
  background-position: 0 -80.5px;
  width: 12px;
  height: 7px;
}

.icons-15 {
  background-position: 0 -90px;
  width: 16px;
  height: 14px;
}

.icons-16 {
  background-position: 0 -106.5px;
  width: 16px;
  height: 15.5px;
}

.icons-17 {
  background-position: 0 -124.5px;
  width: 20.5px;
  height: 13.5px;
}

.icons-18 {
  background-position: 0 -140.5px;
  width: 20px;
  height: 17.5px;
}

.icons-19 {
  background-position: 0 -160.5px;
  width: 24px;
  height: 24px;
}

.icons-2 {
  background-position: 0 -187px;
  width: 17.5px;
  height: 16px;
}

.icons-20 {
  background-position: 0 -205.5px;
  width: 13.5px;
  height: 12.5px;
}

.icons-21 {
  background-position: 0 -220.5px;
  width: 16.5px;
  height: 11px;
}

.icons-22 {
  background-position: 0 -234px;
  width: 15.5px;
  height: 14.5px;
}

.icons-23 {
  background-position: 0 -251px;
  width: 13px;
  height: 11.5px;
}

.icons-3 {
  background-position: 0 -265px;
  width: 19.5px;
  height: 19.5px;
}

.icons-4 {
  background-position: 0 -287px;
  width: 7px;
  height: 12.5px;
}

.icons-5 {
  background-position: 0 -302px;
  width: 15px;
  height: 16px;
}

.icons-6 {
  background-position: 0 -320.5px;
  width: 20px;
  height: 18.5px;
}

.icons-7 {
  background-position: 0 -341.5px;
  width: 16px;
  height: 16.5px;
}

.icons-8 {
  background-position: 0 -360.5px;
  width: 15.5px;
  height: 17px;
}

.icons-9 {
  background-position: 0 -380px;
  width: 55px;
  height: 55px;
}
