.sprites, .sprites-1, .sprites-10, .sprites-11, .sprites-12, .sprites-13, .sprites-14, .sprites-15, .sprites-16, .sprites-17, .sprites-18, .sprites-19, .sprites-2, .sprites-20, .sprites-21, .sprites-22, .sprites-23, .sprites-24, .sprites-3, .sprites-4, .sprites-5, .sprites-6, .sprites-7, .sprites-9, .sprites-list-tofirst, .sprites-list-tolast, .sprites-middlePage, .sprites-nextPage, .sprites-prevPage {
  background: url('../images/icons-sd78fd2ae1c.png');
  -webkit-background-size: 110px 1045px;
  -moz-background-size: 110px 1045px;
  -o-background-size: 110px 1045px;
  -ms-background-size: 110px 1045px;
  background-size: 110px 1045px;
}

.sprites-1 {
  background-position: 0 0;
  width: 35px;
  height: 28px;
}

.sprites-10 {
  background-position: 0 -33px;
  width: 110px;
  height: 110px;
}

.sprites-11 {
  background-position: 0 -148px;
  width: 28px;
  height: 28px;
}

.sprites-12 {
  background-position: 0 -181px;
  width: 22px;
  height: 21px;
}

.sprites-13 {
  background-position: 0 -207px;
  width: 35px;
  height: 28px;
}

.sprites-14 {
  background-position: 0 -240px;
  width: 36px;
  height: 31px;
}

.sprites-15 {
  background-position: 0 -276px;
  width: 24px;
  height: 14px;
}

.sprites-16 {
  background-position: 0 -295px;
  width: 32px;
  height: 28px;
}

.sprites-17 {
  background-position: 0 -328px;
  width: 32px;
  height: 31px;
}

.sprites-18 {
  background-position: 0 -364px;
  width: 41px;
  height: 27px;
}

.sprites-19 {
  background-position: 0 -396px;
  width: 40px;
  height: 35px;
}

.sprites-2 {
  background-position: 0 -436px;
  width: 35px;
  height: 32px;
}

.sprites-20 {
  background-position: 0 -473px;
  width: 48px;
  height: 48px;
}

.sprites-21 {
  background-position: 0 -526px;
  width: 27px;
  height: 25px;
}

.sprites-22 {
  background-position: 0 -556px;
  width: 33px;
  height: 22px;
}

.sprites-23 {
  background-position: 0 -583px;
  width: 31px;
  height: 29px;
}

.sprites-24 {
  background-position: 0 -617px;
  width: 26px;
  height: 23px;
}

.sprites-3 {
  background-position: 0 -645px;
  width: 39px;
  height: 39px;
}

.sprites-4 {
  background-position: 0 -689px;
  width: 14px;
  height: 25px;
}

.sprites-5 {
  background-position: 0 -719px;
  width: 30px;
  height: 32px;
}

.sprites-6 {
  background-position: 0 -756px;
  width: 40px;
  height: 37px;
}

.sprites-7 {
  background-position: 0 -798px;
  width: 32px;
  height: 33px;
}

.sprites-9 {
  background-position: 0 -836px;
  width: 31px;
  height: 34px;
}

.sprites-list-tofirst {
  background-position: 0 -875px;
  width: 30px;
  height: 30px;
}

.sprites-list-tolast {
  background-position: 0 -910px;
  width: 30px;
  height: 30px;
}

.sprites-middlePage {
  background-position: 0 -945px;
  width: 30px;
  height: 30px;
}

.sprites-nextPage {
  background-position: 0 -980px;
  width: 30px;
  height: 30px;
}

.sprites-prevPage {
  background-position: 0 -1015px;
  width: 30px;
  height: 30px;
}
