.sprites, .sprites-1, .sprites-10, .sprites-11, .sprites-12, .sprites-13, .sprites-14, .sprites-15, .sprites-16, .sprites-17, .sprites-18, .sprites-19, .sprites-2, .sprites-20, .sprites-21, .sprites-22, .sprites-23, .sprites-24, .sprites-3, .sprites-4, .sprites-5, .sprites-6, .sprites-7, .sprites-9, .sprites-list-tofirst, .sprites-list-tolast, .sprites-middlePage, .sprites-nextPage, .sprites-prevPage {
  background: url('../images/icons-sd78fd2ae1c.png');
  -webkit-background-size: 55px 522.5px;
  -moz-background-size: 55px 522.5px;
  background-size: 55px 522.5px;
}

.sprites-1 {
  background-position: 0 0;
  width: 17.5px;
  height: 14px;
}

.sprites-10 {
  background-position: 0 -16.5px;
  width: 55px;
  height: 55px;
}

.sprites-11 {
  background-position: 0 -74px;
  width: 14px;
  height: 14px;
}

.sprites-12 {
  background-position: 0 -90.5px;
  width: 11px;
  height: 10.5px;
}

.sprites-13 {
  background-position: 0 -103.5px;
  width: 17.5px;
  height: 14px;
}

.sprites-14 {
  background-position: 0 -120px;
  width: 18px;
  height: 15.5px;
}

.sprites-15 {
  background-position: 0 -138px;
  width: 12px;
  height: 7px;
}

.sprites-16 {
  background-position: 0 -147.5px;
  width: 16px;
  height: 14px;
}

.sprites-17 {
  background-position: 0 -164px;
  width: 16px;
  height: 15.5px;
}

.sprites-18 {
  background-position: 0 -182px;
  width: 20.5px;
  height: 13.5px;
}

.sprites-19 {
  background-position: 0 -198px;
  width: 20px;
  height: 17.5px;
}

.sprites-2 {
  background-position: 0 -218px;
  width: 17.5px;
  height: 16px;
}

.sprites-20 {
  background-position: 0 -236.5px;
  width: 24px;
  height: 24px;
}

.sprites-21 {
  background-position: 0 -263px;
  width: 13.5px;
  height: 12.5px;
}

.sprites-22 {
  background-position: 0 -278px;
  width: 16.5px;
  height: 11px;
}

.sprites-23 {
  background-position: 0 -291.5px;
  width: 15.5px;
  height: 14.5px;
}

.sprites-24 {
  background-position: 0 -308.5px;
  width: 13px;
  height: 11.5px;
}

.sprites-3 {
  background-position: 0 -322.5px;
  width: 19.5px;
  height: 19.5px;
}

.sprites-4 {
  background-position: 0 -344.5px;
  width: 7px;
  height: 12.5px;
}

.sprites-5 {
  background-position: 0 -359.5px;
  width: 15px;
  height: 16px;
}

.sprites-6 {
  background-position: 0 -378px;
  width: 20px;
  height: 18.5px;
}

.sprites-7 {
  background-position: 0 -399px;
  width: 16px;
  height: 16.5px;
}

.sprites-9 {
  background-position: 0 -418px;
  width: 15.5px;
  height: 17px;
}

.sprites-list-tofirst {
  background-position: 0 -437.5px;
  width: 15px;
  height: 15px;
}

.sprites-list-tolast {
  background-position: 0 -455px;
  width: 15px;
  height: 15px;
}

.sprites-middlePage {
  background-position: 0 -472.5px;
  width: 15px;
  height: 15px;
}

.sprites-nextPage {
  background-position: 0 -490px;
  width: 15px;
  height: 15px;
}

.sprites-prevPage {
  background-position: 0 -507.5px;
  width: 15px;
  height: 15px;
}
