.sprites, .sprites-icons-1, .sprites-icons-10, .sprites-icons-11, .sprites-icons-12, .sprites-icons-13, .sprites-icons-14, .sprites-icons-15, .sprites-icons-16, .sprites-icons-17, .sprites-icons-18, .sprites-icons-19, .sprites-icons-2, .sprites-icons-20, .sprites-icons-21, .sprites-icons-22, .sprites-icons-23, .sprites-icons-3, .sprites-icons-4, .sprites-icons-5, .sprites-icons-6, .sprites-icons-7, .sprites-icons-8, .sprites-icons-9 {
  background: url('../images/icons-s0386952d75.png');
  -webkit-background-size: 110px 870px;
  -moz-background-size: 110px 870px;
  -o-background-size: 110px 870px;
  -ms-background-size: 110px 870px;
  background-size: 110px 870px;
}

.sprites-icons-1 {
  background-position: 0 0;
  width: 35px;
  height: 28px;
}

.sprites-icons-10 {
  background-position: 0 -33px;
  width: 28px;
  height: 28px;
}

.sprites-icons-11 {
  background-position: 0 -66px;
  width: 22px;
  height: 21px;
}

.sprites-icons-12 {
  background-position: 0 -92px;
  width: 35px;
  height: 28px;
}

.sprites-icons-13 {
  background-position: 0 -125px;
  width: 36px;
  height: 31px;
}

.sprites-icons-14 {
  background-position: 0 -161px;
  width: 24px;
  height: 14px;
}

.sprites-icons-15 {
  background-position: 0 -180px;
  width: 32px;
  height: 28px;
}

.sprites-icons-16 {
  background-position: 0 -213px;
  width: 32px;
  height: 31px;
}

.sprites-icons-17 {
  background-position: 0 -249px;
  width: 41px;
  height: 27px;
}

.sprites-icons-18 {
  background-position: 0 -281px;
  width: 40px;
  height: 35px;
}

.sprites-icons-19 {
  background-position: 0 -321px;
  width: 48px;
  height: 48px;
}

.sprites-icons-2 {
  background-position: 0 -374px;
  width: 35px;
  height: 32px;
}

.sprites-icons-20 {
  background-position: 0 -411px;
  width: 27px;
  height: 25px;
}

.sprites-icons-21 {
  background-position: 0 -441px;
  width: 33px;
  height: 22px;
}

.sprites-icons-22 {
  background-position: 0 -468px;
  width: 31px;
  height: 29px;
}

.sprites-icons-23 {
  background-position: 0 -502px;
  width: 26px;
  height: 23px;
}

.sprites-icons-3 {
  background-position: 0 -530px;
  width: 39px;
  height: 39px;
}

.sprites-icons-4 {
  background-position: 0 -574px;
  width: 14px;
  height: 25px;
}

.sprites-icons-5 {
  background-position: 0 -604px;
  width: 30px;
  height: 32px;
}

.sprites-icons-6 {
  background-position: 0 -641px;
  width: 40px;
  height: 37px;
}

.sprites-icons-7 {
  background-position: 0 -683px;
  width: 32px;
  height: 33px;
}

.sprites-icons-8 {
  background-position: 0 -721px;
  width: 31px;
  height: 34px;
}

.sprites-icons-9 {
  background-position: 0 -760px;
  width: 110px;
  height: 110px;
}
